*.venv
.venv/
venv/
env/
node_modules/
__pycache__/
*.mp3
PyWhatKit_DB.txt
*.h5
*.pkl
*.pt
*.onnx
*.zip
*.rar
*.dll
*.exe
Thumbs.db
.DS_Store
.vscode/
.idea/
bin/
obj/
*.class

# Secrets and Environment
.env
.env.*
*.env*
*.local
*.pem
*.key


